AIRFLOW_UID=1000

AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_DEFAULT_REGION=your_region

KAGGLE_USERNAME=your_kaggle_name
KAGGLE_KEY=your_kaggle_key
          
TARGET_S3_BUCKET=your_s3_bucket_name
S3_ATHENA_RESULT=your_dir
S3_BUCKET_FINAL_RESULT=your_dir
DATABASE_NAME=your_database_name

#AIRFLOW SMTP Configuration
AIRFLOW__SMTP__SMTP_HOST=smtp.gmail.com
AIRFLOW__SMTP__SMTP_USER=your_email
AIRFLOW__SMTP__SMTP_PASSWORD=your_app_password
AIRFLOW__SMTP__SMTP_PORT=587
AIRFLOW__SMTP__SMTP_MAIL_FROM=your_email
